aiohttp
aiohttp-retry
aiosignal
asgiref
attrs
boto3
botocore
captcha
certifi
cffi
channels
charset-normalizer
cryptography
dj-database-url
Django
django-crispy-forms
django-decouple
django-environ
django-otp
django-ranged-response
django-recaptcha
django-simple-captcha
django-storages
djangorestframework
djangorestframework-simplejwt
frozenlist
gunicorn
idna
jmespath
mailchimp-marketing
multidict
packaging
pillow
psycopg2
psycopg2-binary
pycparser
pycryptodome
PyJWT
python-dateutil
python-decouple
python-dotenv
pytz
requests
s3transfer
six
sqlparse
stripe
twilio
typing_extensions
urllib3
utils
whitenoise
yarl